*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}





/* ===================================
COLORS
=================================== */

:root {
    /* Primary */
    --gradient: linear-gradient(
            to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%)
    );

    /* Neutral */
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);
}




/* ===================================
TYPOGRAPHY
=================================== */

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--pale-blue);
}

.storage__info__text span,
.storage__info__bubble,
.storage__info__capacity-container {
    font-weight: 700;
}

.storage__info__bubble {
    font-size: 40px;
    line-height: 40px;
}

.storage__info__bubble span,
.storage__info__capacity-container {
    font-size: 12px;
    line-height: 14px;
}

.storage__info__bubble span {
    text-transform: uppercase;
    opacity: 0.5;
}




/* ===================================
GENERAL LAYOUT
=================================== */

.body {
    background-color: var(--very-dark-blue);
    background-image: url("../images/bg-mobile.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.storage,
.attribution {
    padding: 0 24px 0 25px;
}

.storage {
    padding-top: 127px;
    padding-bottom: 127px;
}

.flex--main {
    row-gap: 16px;
}

.flex--main > * {
    flex: 0 1 100%;
    background-color: var(--dark-blue);
    box-shadow: 0 75px 100px -30px rgba(0, 0, 0, 0.24776);
}

.storage__logo {
    margin-bottom: 33px;
}

.storage__icons {
    border-radius: 10px 100px 10px 10px;
    padding: 40px 108px 40px 41px;
    max-width: 326px;
}

[class^="storage__icons__icon-"] {
    width: 48px;
    height: 48px;
    background-color: var(--very-dark-blue);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.storage__icons__icon-1 {
    background-image: url("../images/icon-document.svg")
}

.storage__icons__icon-2 {
    background-image: url("../images/icon-folder.svg")
}

.storage__icons__icon-3 {
    background-image: url("../images/icon-upload.svg")
}

.storage__info,
.storage__info__bubble {
    border-radius: 10px;
}

.storage__info {
    text-align: center;
    padding: 32px 32px 52px 32px;
    position: relative;
}

.storage__info__text {
    margin-bottom: 16px;
}

.storage__info__used {
    margin-bottom: 10px;
}

.storage__info__bubble {
    background-color: #fff;
    color: var(--very-dark-blue);
    padding: 16px 24px;
    max-width: 179px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -36px;
}

.storage__info__used {

}

.storage__info__used[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;

    width: 100%;
    height: 20px;
    position: relative;
}

.storage__info__used[value]::-webkit-progress-bar {
    background-color: var(--very-dark-blue);
    border-radius: 10px;
    padding: 3px;
}

.storage__info__used[value]::-webkit-progress-value {
    background-image: var(--gradient);
    border-radius: 8px;
}

.storage__info__used[value]::after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    right: calc(19% + 2px);
    top: 5px;
    background-color: #fff;
}



